---
title: Multidisciplinary humanoid
description: >-
  The Digital CV of Set Hallstrom. Multi-disciplinary creative humanoïd, Free Software
  advocate and Community Manager.
image: /images/pages/snugglebeam.jpg
video_path: /videos/set.mp4

---
{% include relBase.html %}
{% include header.html %}
{% for post in site.posts limit: 1 %}

<section class="news">
  <h2>Latest News</h2>
<div style="background-image:url({{ relBase }}{{ post.image }}"></div>
<div class="description">
  <h2>{{ post.title }}</h2>
  <p><strong>{% include forloop-dates.html %}</strong></p>
  <p>{{ post.description }}</p>
<p><a href="{{ relBase }}{{ post.url }}" class="button">Read post</a></p>
</div>

  
</section>
{% endfor %}
<section class="releases">


  <article>
    <h4>{{ page.description }}</h4>
    <p><a href="/cv/" class="button">check my CV</a></p>
    <p>📱 <a href="tel:+46708134377">+46 708 134 377</a></p>
    <p>🔐 <a style="font-size: 1em;" href="http://keyserver.ubuntu.com/pks/lookup?op=get&amp;search=0x92401D3F102A0208">GPG-ID 92401D3F102A0208</a></p>
  
  </article>

  <article>

    <div class="streamer">
      {% for shop in site.data.navigation %}
  
      <a rel="noopener" href="{{ shop.url }}" title="Visit {{ shop.name }}" class="icon">{{ shop.icon }}</a>
  
      {% endfor %}
    </div>
  </article>


</section>
<section class="releases">
  {% include contact.html %}

</section>