---
title: Multidisciplinary humanoid
description: >-
  The Digital CV of Set Hallstrom. Multi-disciplinary humanoïd, Free Software
  advocate and Community Manager.
image: /siteicon.png
layout: default
---
{% include relBase.html %}
{% include header.html %}
{% for post in site.posts limit: 1 %}

<section class="news">
  <h2>Latest News</h2>
<div style="background-image:url({{ relBase }}{{ post.image }}"></div>
<div class="description">
  <h2>{{ post.title }}</h2>
  <p><strong>{% include forloop-dates.html %}</strong></p>
  <p>{{ post.description }}</p>
<p><a href="{{ relBase }}{{ post.url }}" class="button">Read post</a></p>
</div>

  
</section>
{% endfor %}
<section class="releases">


  <article>
    <h3>{{ page.description }}</h3>
  </article>

  <article>

    <ul>
    <li><a class="button" href="/insta/" alt="Setstagram">📷</a></li>
    <li><a class="button" href="/cv/">📃 CV</a></li>
    <li><a class="button" target="_blank" href="/Set_Hallstrom_20160906_portfolio.pdf">🎨 Portfolio (+20Mb)</a></li>
    <li><a class="button" target="_blank" alt="Music Network" href="https://sakrecoer.com/music/">🎧 Music</a></li>
    <li><a class="button" target="_blank" alt="Terminalnet Work" href="https://terminalnet.work">🌍 Network</a></li>
    <li><a class="button" target="_blank" alt="Botnet" href="https://www.linkedin.com/in/set-hallstrom/">🕸️ Botnet</a></li>
  </ul>
  </article>


</section>
<section class="releases">
  {% include contact.html %}

</section>