/*! sakrecoer sheet */
@font-face {
 font-family: avant;
 src: url('../fonts/free_avantgarde.woff');
}
@font-face {
 font-family: avantB;
 src: url('../fonts/free_avantgardeBOLD.woff');
}
body {
  line-height: 1.5em;
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-family: avant, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#333;
}
h1,
h2,
h3,
h4,
b,
strong {
 font-family: avantB, "Helvetica Neue", Helvetica, Arial, sans-serif;

}
h1{
  font-size: 3em;
  line-height: 1em;
  text-shadow: 2px 2px rgba(255, 0, 0, 0.5), -2px -2px rgba(0, 153, 255, 0.5);
  text-transform: uppercase;
}
h2{
  font-size: 2em;
  line-height: 1em;
  text-transform: uppercase;
}
p{
  line-height:1em;
}
a:link,
a:visited,
a:hover,
a:active,
a:focus {
 text-decoration: underline;
 color: #333;
}
a,
a:link,
a:visited {
-webkit-transition-property: hover;
 -webkit-transition: text-shadow 0.05s ease-in-out;
 -moz-transition: text-shadow 0.05s linear 0s; /* firefox 4 */
  -o-transition-property: text-shadow; /* opera 10.5 */
  -o-transition-duration: 0.05s;
}

a:hover {
text-shadow: 1px 1px rgba(255, 0, 0, 0.5), -1px -1px rgba(0, 153, 255, 0.5);
}
a:active {
 color: rgb(55, 171, 200);
}
/*
 * blend4web
 */

 #main_canvas_container {
     position: absolute;
     left: 0px;
     top: 0px;
     width: 100%;
     height: 50%;

 }
 /*
  * Layout
  */

#contain {
  position: absolute;
  top: 51%;
  left:0;
  width: 100%;
  padding: 0 5px;
}
.column {
  width: 49%;
  min-width:350px;
  float:left;
}
#footer {
  position: absolute;
  top: 200%;
  width:100%;
  height: 5%;
  font-size: .6em;
  padding: 0 5px;
  line-height: 1em;
}
