/*! sakrecoer sheet */
@font-face {
  font-family: avant;
  src: url('../fonts/free_avantgarde.woff');
}
@font-face {
  font-family: avantB;
  src: url('../fonts/free_avantgardeBOLD.woff');
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  line-height: 1.5em;
  background-color: #fff;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  font-size: 1em;
  font-family: avant, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#333;
}
h1,
h2,
h3,
h4,
b,
strong {
  font-family: avantB, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4 {
  text-shadow: 2px 2px rgba(255, 0, 0, 0.5), -2px -2px rgba(0, 153, 255, 0.5);
}
a h1:hover,
a h2:hover,
a h3,
a h4 {
  text-shadow: none;
}

h1{
  font-size: 3em;
  line-height: 1em;
  text-shadow: 2px 2px rgba(255, 0, 0, 0.5), -2px -2px rgba(0, 153, 255, 0.5);
  text-transform: uppercase;
}
h2{
  font-size: 2em;
  line-height: 1em;
  text-transform: uppercase;
}
p{
  line-height:1em;
}
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: #333;
}
a,
a:link,
a:visited {
  transition-property: hover;
  -webkit-transition-property: hover;
  -webkit-transition: text-shadow 0.05s ease-in-out;
  -moz-transition: text-shadow 0.05s linear 0s; /* firefox 4 */
  transition: text-shadow 0.05s ease-in-out;
  -o-transition-property: text-shadow; /* opera 10.5 */
  -o-transition-duration: 0.05s;
  transition-duration: 0.05s;
}

a:hover {
  text-shadow: none;
}
a:active {
  color: rgb(55, 171, 200);
}
/*
 * blend4web
 */

#banner {
  width: 100%;
  height: 30%;
  background-color: lightskyblue;
  background-color: #1fc8db;
  background-image: url(../img/error.gif);
  background-size: cover;

 }

 
 /*
  * Layout
  */


#navigation {
  position: relative;
  height: 23px;
  width: 100%;
  background: linear-gradient(293deg, #bb00ff50, #00e5ff4b, #00e5ff46);

}


#content {

  width: 100%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}
.column {
  min-width:350px;
  flex: 1 1 400px;
}
#footer {
  width:100%;
  height: 230px;
  font-size: .6em;
  padding: 0px;
  line-height: 1em;
}
