/*! sakrecoer sheet */
@font-face {
  font-family: avant;
  src: url('../fonts/free_avantgarde.woff');
}
@font-face {
  font-family: avantB;
  src: url('../fonts/free_avantgardeBOLD.woff');
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  line-height: 1.5em;
  background-color: #fff;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding:0px;
  font-size: 1em;
  font-family: avant, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#333;
}
h1,
h2,
h3,
h4,
b,
strong {
  font-family: avantB, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a h1:hover,
a h2:hover,
a h3,
a h4 {
  text-shadow: none;
}

h1{
  font-size: 3em;
  line-height: 1em;
  text-shadow: 2px 2px rgba(255, 0, 0, 0.5), -2px -2px rgba(0, 153, 255, 0.5);
  text-transform: uppercase;
}
h2{
  font-size: 2em;
  line-height: 1em;
  text-transform: uppercase;

}
p{
  line-height:1em;
}
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-shadow: 2px 2px rgba(255, 0, 0, 0.5), -2px -2px rgba(0, 153, 255, 0.5);
  text-decoration: none;
  color: #333;
  -webkit-transition: text-shadow 0.2s linear;
  -moz-transition: text-shadow 0.2s linear;
  -ms-transition: text-shadow 0.2s linear;
  -o-transition: text-shadow 0.2s linear;
  transition: text-shadow 0.2s linear;
}
a:hover {
  text-shadow: none;
  -webkit-transition: text-shadow 0.2s linear;
  -moz-transition: text-shadow 0.2s linear;
  -ms-transition: text-shadow 0.2s linear;
  -o-transition: text-shadow 0.2s linear;
  transition: text-shadow 0.2s linear;
}
a:active {
  color: rgb(55, 171, 200);
}
/*
 * blend4web
 */

#banner {
  width: 100%;
  height: 50%;
  background: linear-gradient(223deg, #0f73ff, #ff00b2, #95d4a3, #f5ba00);
  background-size: 800% 800%;
  
  -webkit-animation: AnimationName 58s ease infinite;
  -moz-animation: AnimationName 58s ease infinite;
  animation: AnimationName 58s ease infinite;
  
  @-webkit-keyframes AnimationName {
      0%{background-position:92% 0%}
      50%{background-position:9% 100%}
      100%{background-position:92% 0%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:92% 0%}
      50%{background-position:9% 100%}
      100%{background-position:92% 0%}
  }
  @keyframes AnimationName {
      0%{background-position:92% 0%}
      50%{background-position:9% 100%}
      100%{background-position:92% 0%}
  }
 }

 
 /*
  * Layout
  */
#header {
  width: 100%;
  height: 30%;
  background: linear-gradient(223deg, #0f73ff, #ff00b2, #95d4a3, #f5ba00);
  background-size: 800% 800%;
  
  -webkit-animation: AnimationName 58s ease infinite;
  -moz-animation: AnimationName 58s ease infinite;
  animation: AnimationName 58s ease infinite;
  
  @-webkit-keyframes AnimationName {
      0%{background-position:92% 0%}
      50%{background-position:9% 100%}
      100%{background-position:92% 0%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:92% 0%}
      50%{background-position:9% 100%}
      100%{background-position:92% 0%}
  }
  @keyframes AnimationName {
      0%{background-position:92% 0%}
      50%{background-position:9% 100%}
      100%{background-position:92% 0%}
  }
}

#navigation {
  position: relative;
  height: 10%;
  width: 100%;
}


#content {
  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.column {
  min-width:350px;
  flex: 1 1 400px;
  margin-left:5px;
}
#footer {
  width:100%;
  height: 50px;
  font-size: .6em;
  padding: 0;
  line-height: 1em;
  display: flex;
  flex-wrap: wrap;
  /* background: linear-gradient(293deg, rgba(255, 0, 0, 0.25), rgba(0, 153, 255, 0.25)); */
}
#footer p {
  margin-left: 5px;
}

.contact {
  width: 95%;
  max-width:500px;
}
.textspace {
  height: 100px;
} 

input[type=text], input[type=email], textarea, select {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=submit] {
  width: 95%;
  max-width: 500px;
  background: linear-gradient(223deg, #0f73ff, #ff00b2, #95d4a3, #f5ba00);
  background-size: 800% 800%;
  
  -webkit-animation: AnimationName 58s ease infinite;
  -moz-animation: AnimationName 58s ease infinite;
  animation: AnimationName 58s ease infinite;
  
  @-webkit-keyframes AnimationName {
      0%{background-position:92% 0%}
      50%{background-position:9% 100%}
      100%{background-position:92% 0%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:92% 0%}
      50%{background-position:9% 100%}
      100%{background-position:92% 0%}
  }
  @keyframes AnimationName {
      0%{background-position:92% 0%}
      50%{background-position:9% 100%}
      100%{background-position:92% 0%}
  }
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background: linear-gradient(223deg, #f5ba00,  #ff00b2, #0f73ff, #95d4a3);
  background-size: 800% 800%;
  
  -webkit-animation: AnimationName 58s ease infinite;
  -moz-animation: AnimationName 58s ease infinite;
  animation: AnimationName 58s ease infinite;
  
  @-webkit-keyframes AnimationName {
      0%{background-position:92% 0%}
      50%{background-position:9% 100%}
      100%{background-position:92% 0%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:92% 0%}
      50%{background-position:9% 100%}
      100%{background-position:92% 0%}
  }
  @keyframes AnimationName {
      0%{background-position:92% 0%}
      50%{background-position:9% 100%}
      100%{background-position:92% 0%}
  }
}