<!DOCTYPE html>
<html>
<head>
  {% include metahead.html %}
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
</head>

<body>
  {% if page.url == "/" %}
  <div id="banner"> 
      <div class="hero">
        <h1>{{ site.title }}</h1>
      </div>
  </div>
  {% else %}
  
    <div id="header">
        <div class="hero">
            <a href="/"><h1>{{ site.title }}</h1></a>
        </div>
    </div>
  
  {% endif %}
  <!-- <div id="navigation"> </div> -->
  <div id="content">
    {{ content }}
  </div>

  {% include footer.html %}

</body>

</html>